<p id="notice"><%= notice %></p>

<h1>Welcome to Codaiseurify!</h1>

<div class = "container">
  <% @artists.each do |artist| %>
    <div class = "container">
      <h3><%= link_to artist.name, artist_path(artist) %></h3>
      <%= image_tag artist.img_url %>
    </div>
  <% end %>
</div>


<h1>See anyone missing?</h1>

<nav>
  <%= link_to "Add an artist", new_artist_path %>
</nav>
