<div class="jumbotron">
  <div class="container">
    <h3>Add a Song!</h3>
    <%= render "addsong" %>
  </div>
</div>

<nav>
  <%= link_to "Never Mind", root_path, class: "btn btn-default" %>
</nav>
