// application.scss

@import "bootstrap-sprockets";
@import "bootstrap";

.container img {
  max-width: 300px;
  max-height: auto;
}

.jumbotron {
  min-height: 362px;
}

.pull-right img {
  max-width: auto;
  max-height: 362px;
}
