<!DOCTYPE html>
<html>
  <head>
    <title>Codaisseurify</title>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Ropa+Sans" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
